* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    color:darkslateblue;
    font-family:'Times New Roman', Times, serif;
    background-color:aliceblue;
}

/* Adding styles to <header> */
header {
    padding:15px 30px;
    background-color:plum;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight:bolder;
    font-size: 40px;
    color:darkslateblue;
    margin: 0;
}

header nav {
    margin: 9px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 40px;
    font-weight:bold;
    font-size:larger;
    color:darkslateblue;
    text-decoration:underline;
    border-bottom: 4px;
    padding-bottom: 4px;
}