* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    color:darkslateblue;
    font-family:'Times New Roman', Times, serif;
    background-color:aliceblue;
}

/* Adding styles to <header> */
header {
    padding:15px 30px;
    background-color:plum;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight:bolder;
    font-size: 40px;
    color:darkslateblue;
    margin: 0;
}
