* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body {
    color:darkslateblue;
    font-family:'Times New Roman', Times, serif;
    background-color:aliceblue;
}

/* Adding styles to <header> */
header {
    padding:25px 30px;
    background-color:plum;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
header h1 {
    font-weight:bolder;
    font-size: 40px;
    color:darkslateblue;
    margin: 0;
}

header nav {
    margin: 9px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    margin: 0 30px;
    font-weight:bold;
    font-size:larger;
    color:darkslateblue;
    text-decoration:underline;
    border-bottom: 4px;
    padding-bottom: 4px;
}

section {
    padding: 20px;
}

/* Adding style to banner image */
.banner{
    height: 350px;
    background-image: url=("../images/banner.jpeg");
    background-size:cover;
    background-position: center;
    justify-content: flex-end;
    flex-wrap:wrap;
    position:relative;
    width: 100%;
    
}

.banner h2 {
    font-style:italic;
    font-size: 30px;
    color:darkslateblue;
    margin-top: 300px;
    background-color:plum;
}

/* Adding style to about me and work */
.about{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 40px;
    width: 90%;
    align-items: center;
}

.flex-row {
    display: flex;
    justify-content: left;
}

.section-title {
    font-size: 30px;
    font-family:fantasy;
    color:darkslateblue;
    margin: 0 0 0 70px;
    width: 0%;
}

.info {
    flex: 2 25;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.border1 {
    border-right: 1px solid black;
    height: 120px;
    flex: 0 3%;
}

.info p {
    color:darkslateblue;
    font-size: 23px;
    text-align: left;
    line-height: 1.2;
    margin-left: 25px;
    width: 100%;
}

.border2 {
    border-right: 1px solid black;
    height: 120px;
    flex: 0 5.2%;
}

.picture-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    width: 70%;
}

.pictures {
    display:grid;
    grid-template:auto;
    grid-template-rows: auto;
    grid-gap: 20px;
    margin-left: 50px;
}

.picture-1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: solid 1px darkslateblue;
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;

    

}

.figcaption{
    position: absolute;
    margin-left: -20%;
    font-size: 12px;
    font-style: fantasy; 
    font-weight: bold;
    color:darkslategray;
    border: solid 1px darkslateblue;
    background-color: plum
}


/* Adding style to the contact section */
.border3 {
    border-right: 1px solid black;
    height: 120px;
    flex: 0 4px;
}

.contact-info {
    flex: 200;
}

.contact-info ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    list-style: none;
    margin-left: 20px;
    width: 100%;
}

.contact-info ul li a {
    margin: 0 30px;
    font-size: 20px;
    color: darkslateblue;
    text-decoration:underline;
    border-bottom: 3px;
    padding-bottom: 2px;
    
    
}